<VirtualHost *:80>
    DocumentRoot /mnt/bingo/public
    ServerName bingo.local

	#########################################################
	# FOR DEVELOPMENT - MAKE PHPMYADMIN AND PHPINFO AVAIL   #
	#########################################################

	Alias /phpmyadmin /usr/share/phpmyadmin
	
	<Directory /usr/share/phpmyadmin>
		Options FollowSymLinks
		DirectoryIndex index.php
	
		<IfModule mod_php5.c>
			AddType application/x-httpd-php .php
	
			php_flag magic_quotes_gpc Off
			php_flag track_vars On
			php_flag register_globals Off
			php_value include_path .
		</IfModule>
	
	</Directory>
	
	# Disallow web access to directories that don't need it
	<Directory /usr/share/phpmyadmin/libraries>
	   Order Deny,Allow
	   Deny from All
	</Directory>
	<Directory /usr/share/phpmyadmin/setup/lib>
	   Order Deny,Allow
	   Deny from All
	</Directory>

</VirtualHost>