body {
	font-family: 'Archivo Narrow', sans-serif;
	width: 960px;
	margin: 0 auto;
}
td {
	width: 116px;
	height: 90px;
	text-align: center;
	font-weight: bold;
	padding: 6px;
}
td:hover {
	cursor: pointer;
}
table {
	border-collapse: collapse;
	margin: 0 auto;
}
.selected {
	background: #A00;
}
h1 {
	text-align: center;
}
header ul {
	text-align: right;
	padding: 0;
}
header ul li {
	display: inline-block;
}
header ul li a {
	font-weight: bold;
	color:#000;
	text-decoration: none;
}
header ul li:last-child {
	margin-left: 10px;
}
header ul li:first-child.leave {
	float: left;
}
aside {
	display: inline-block;
	width: 311px;
	vertical-align: bottom;
	margin-bottom: 1px;
}
section {
	width: 645px;
	display: inline-block;
}
#login ul li {
	text-align: center;
	list-style: none;
}
#login ul li input[type=text], #login ul li input[type=password] {
	padding: 10px;
	border-radius: 10px;
	border: 1px #000 solid;
	width: 300px;
	font-size: 1.3em;
}
#login ul li input[type=text]:active {
	border: #000;
}
#players li {
	list-style: none;
	text-align: right;
}
h3 {
	text-align: center;
	margin: 0;
}
#chat {
	width: 100%;
}
#chat_input {
	display: inline-block;
	width: 100%;
	border: 1px black solid;
	border-left: none;
	padding: 4px 0 4px 5px;
}
#chat {
	border: 1px #000 solid;
	border-left: none;
	border-bottom: none;
	height: 250px;
	padding-left: 5px;
	overflow: auto;
}
#current_players {
	height: 237px;
	padding-left: 5px;
	overflow: auto;
	width: 302px;
	padding-right: 10px;
}
#chat .action {
	font-style: italic;
	font-size: .9em;
	text-align: right;
	padding-right: 17px;
}
section {
	position: relative;
}
.wintext {
	position: absolute;
	font-size: 6em;
	color: white;
	box-shadow: 3px 3px 4px black;
	background: black;
	-webkit-transform: rotate(-38deg);
	-moz-transform: rotate(-38deg);
	padding: 15px;
	bottom: 89px;
	left: -75px;
	width: 775px;
}