body {
	font-family: 'Archivo Narrow', sans-serif;
	width: 960px;
	margin: 0 auto;
}
td {
	width: 116px;
	height: 90px;
	text-align: center;
	font-weight: bold;
	padding: 6px;
}
td:hover {
	cursor: pointer;
}
table {
	border-collapse: collapse;
	margin: 0 auto;
}
.selected {
	background: #00a;
	color: #fff;
}
h1 {
	text-align: center;
}
header ul {
	text-align: right;
	padding: 0;
}
header ul li {
	display: inline-block;
}
header ul li a, .games li a, .game_list li a {
	font-weight: bold;
	color:#000;
	text-decoration: none;
}
header ul li:last-child {
	margin-left: 10px;
}
header ul li:first-child.leave {
	float: left;
}
aside {
	display: inline-block;
	width: 311px;
	vertical-align: bottom;
	margin-bottom: 1px;
}
section {
	width: 645px;
	display: inline-block;
}
#players li {
	list-style: none;
	text-align: right;
}
h3 {
	text-align: center;
	margin: 0;
}
#chat {
	width: 100%;
}
#chat_input {
	display: inline-block;
	width: 100%;
	border: 1px black solid;
	border-left: none;
	padding: 4px 0 4px 5px;
}
#chat {
	border: 1px #000 solid;
	border-left: none;
	border-bottom: none;
	height: 250px;
	padding-left: 5px;
	overflow: auto;
}
#current_players {
	height: 237px;
	padding-left: 5px;
	overflow: auto;
	width: 302px;
	padding-right: 10px;
}
#chat .action {
	font-style: italic;
	font-size: .9em;
	text-align: right;
	padding-right: 17px;
}
section {
	position: relative;
}
.wintext {
	position: absolute;
	font-size: 6em;
	color: white;
	box-shadow: 3px 3px 4px black;
	background: black;
	-webkit-transform: rotate(-38deg);
	-moz-transform: rotate(-38deg);
	padding: 15px;
	bottom: 89px;
	left: -75px;
	width: 775px;
}
input[type=submit] {
	border: 3px black solid;
	padding: 5px 10px;
	background: white;
	border-radius: 12px;
	font-size: 1.2em;
	font-weight: bold;
}
input[type=submit]:hover {
	background: #000;
	color: #fff;
	cursor: pointer;
}
.error li {
	color: #a00;
	list-style: none;
	text-align: center;
}
.success li {
	color: #0a0;
	text-align: center;
	list-style: none;
}
form label {
	display: block;
}
form ul li input[type=text], form ul li input[type=password] {
	width: 200px;
}
form ul {
	width: 200px;
	margin: 0 auto;
	padding: 0;
}
form ul li {
	margin: 10px 0;
	list-style: none;
}
form li:last-child {
	text-align: center;
}
.games li {
	display: inline-block;
	list-style: none;
}
.games li:not(:first-child) {
	padding: 5px 0;
}
.games li:first-child {
	padding-right: 20px;
}
.game_list {
	margin-left: 10px;
}
.game_list li {
	list-style: none;
}
.game_list li a {
	display: inline-block;
	padding-left: 10px;
}